
extends layout
include mixins/_productCardFromCart


block content
    .container
        h2 #{title}
        p
        .carts  
            each cart in carts  
                +productCardFromCart(cart, cart.idProduct)
    
        p
    <div> 
        <h5><i><u> Purchase: </h5></i></u> 
                    each cart in carts  
                        span <b>Product:</b> #{cart.idProduct.name}<br>
                        span <b>Price:</b> #{cart.idProduct.price}€  X  #{cart.num}<p>
                        span --------------------------------<p>
                    span <b>Total:</b> #{precio}€<p>
                                
    </div>
    <div>
        <h2 style='padding-top:20px'><u> Payment                       
    </div>

     a.btn.btn-success(href= '/checkout', style="background-color:green;border-color:green;color:white") Checkout
   
   
   


    
        
    
    
    
