mixin productCardFromCart(product = {})
    .product
        .card-body
        img.card-img-top.imgfluid(src=`/uploads/${product.photo || 'product.png'}`)
        .card-body
            h5.card-title
                a(href=`/product/${product.slug}` style='color: black') #{product.name}
            p.cardtext= "Price: "+product.price+"€"
            form.form(action="/cart" method="POST" enctype='application/x-wwwform-urlencoded')
                input(type="hidden" value=`${product._id}` name="id")
                button(style="background-color:red;border-color:red;color:white" class="btn btn-primary") Delete product
            